body {
    font-family: 'Arial', sans-serif;
    background-image: url('космос.jfif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #e0e0e0; 
    margin: 0;
    padding: 0;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    grid-template-rows: 85px;
}

header {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0; 
    z-index: 1000; 
    background: linear-gradient(to right, rgba(156, 39, 176, 0.95), rgba(63, 15, 87, 0.95)); 
    padding: 15px 30px;
    height: 80px;
}

.logo-image {
    height: 90px; 
    width: auto; 
}

nav {
    display: flex;
    flex-direction: column; /* Установить направление в колонку */
    align-items: center; /* Центрировать элементы по горизонтали */
}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: inline-flex; 
}

.main-menu li {
    margin: 0 15px; 
}

.main-menu li a {
    text-decoration: none;
    color: #e0e0e0; 
    font-weight: bold;
    font-size: 18px; /* Больший размер для игр */
    transition: color 0.3s;
}

.secondary-menu {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: inline-flex; 
    margin-top: 10px; /* Отступ для нижнего меню */
}

.secondary-menu li {
    margin: 0 15px; 
}

.secondary-menu li a {
    text-decoration: none;
    color: #e0e0e0; 
    font-size: 14px; /* Меньший размер для фактов и формы */
    transition: color 0.3s;
}

.secondary-menu li a:hover {
    color: #ba68c8; /* Цвет при наведении */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: inline-flex; 
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    text-decoration: none;
    color: #e0e0e0; 
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ba68c8; 
}

.social-media {
    display: flex; 
    align-items: center; 
}

.social-icon {
    width: 50px; 
    height: auto; 
    margin-left: 15px;
    transition: transform 0.3s; 
}

.social-icon:hover {
    transform: scale(1.1); 
}

.logo:hover {
    transform: scale(1.1);
}

main {
    margin-top: 145px; 
    margin-bottom: 50px;
}

.form-section {
    background-color: rgba(42, 42, 115, 0.8);
    color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto; 
    width: 90%; 
    max-width: 500px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    text-align: left; 
}

.form-title {
    margin-bottom: 15px;
    font-size: 33px;
    color: #e151fa;
    text-align: center; 
}

.fieldset-title {
    margin-bottom: 15px;
    font-size: 27px;
    color: #ee8fff;
    text-align: center;
}
.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-form fieldset {
    border: none; 
    margin: 15px 0; 
}

.feedback-form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.required {
    color: red;
}

.feedback-form input,
.feedback-form textarea,
.feedback-form select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
    color: #ffffff; 
    opacity: 0.8; 
}

.feedback-form button.submit-button {
    background-color: #d616f8;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; 
    width: 250px;
    font-size: 16px;
}

.feedback-form button.submit-button:hover {
    background-color: #9c27b0;
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(63, 15, 87, 0.8); 
    width: 100%;
    height: 70px;
}