body {
    font-family: 'Arial', sans-serif;
    background-image: url('fon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html { 
    overflow-x: hidden;
}

header {
    position: fixed; 
    top: 0;
    left: 0; 
    right: 0;
    z-index: 100;
    background: linear-gradient(to right, rgba(156, 39, 176, 0.7), rgba(63, 15, 87, 0.7)); 
    padding: 15px 30px;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
    grid-template-rows: 85px;
    height: auto;
}

.main-title, h2, p {
    text-align: center;
}

.main-title, h2 {
    color: #e270f6;
}

.logo-image { 
    height: 90px;
    width: auto;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a:hover {
    color: #ba68c8; 
}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: inline-flex; 
}

.main-menu a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
    font-size: 35px; 
    transition: color 0.3s;
}

.secondary-menu {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: inline-flex; 
    margin-top: 10px;
}

.secondary-menu a {
    text-decoration: none;
    color: #bab9b9; 
    font-size: 25px;
    transition: color 0.3s;
}

.social-media {
    display: flex; 
    align-items: center; 
}

.social-icon {
    width: 50px;
    height: auto; 
    margin-left: 15px; 
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1); 
}

main {
    display: grid;
    grid-template-areas: 
        "title-container title-container title-container"
        "game-rules game-strategy game-history"
        "game-alternatives game-overview game-versions"
        "game-glossary play-now faq";
    grid-template-columns: 370px 350px 370px;
    grid-template-rows: 100px 370px 550px 350px;
    gap: 40px;
    margin-top: 120px;
    justify-items: stretch;
    align-items: stretch;
    padding: 70px;
}

.game-overview {
    grid-area: game-overview;
}

.game-rules {
    grid-area: game-rules;
}

.game-strategy {
    grid-area: game-strategy;
}

.game-history {
    grid-area: game-history;
}

.game-glossary {
    grid-area: game-glossary;
}

.faq {
    grid-area: faq;
}

.play-now {
    grid-area: play-now;
}

.game-versions {
    grid-area: game-versions;
}

.game-alternatives {
    grid-area: game-alternatives;
}

.game-rules,
.game-strategy,
.game-history,
.game-glossary,
.faq,
.play-now,
.game-versions,
.game-alternatives {
    background-color: rgba(118, 100, 234, 0.8);
    color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(115, 0, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-rules:hover,
.game-strategy:hover,
.game-history:hover,
.game-glossary:hover,
.faq:hover,
.play-now:hover,
.game-versions:hover,
.game-alternatives:hover {
    transform: translateY(-10px); /* Поднимаем элементы */
    box-shadow: 0 0 40px rgb(115, 0, 255), /* Более яркое свечение */
                0 0 60px rgba(204, 153, 255, 0.7), 
                0 0 80px rgba(204, 153, 255, 0.4);
}

.game-overview {
    background-color: rgba(193, 98, 252, 0.7);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(204, 153, 255, 1),
                0 0 30px rgba(204, 153, 255, 0.7),
                0 0 60px rgba(204, 153, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.game-overview:hover {
    transform: translateY(-10px); /* Поднимаем элементы */
    box-shadow: 0 0 20px rgba(204, 153, 255, 1),
                0 0 30px rgba(204, 153, 255, 0.7),
                0 0 60px rgba(204, 153, 255, 0.4);
}

.game-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.title-container {
    grid-area: title-container;
    width: 500px;
    justify-self: center;
    align-self: center;
    background-color: rgba(118, 100, 234, 0.8);
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(115, 0, 255, 0.7);
    margin-bottom: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background: rgba(63, 15, 87, 0.8); 
    width: 100%;
    height: 70px;
    margin: 0 auto; 
    text-align: center;
}

@media (max-width: 767px) { /* Телефоны */
    header { 
        padding: 10px 3px;
        width: 100%;
    }

    .header-container {
        width: 95%;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto; 
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

    .logo-image {
        height: 50px;
    }

    .main-menu a {
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
    }

    .secondary-menu a {
        font-size: 10px;
        color: #bab9b9;
    }

    .social-media {
        margin-left: auto; 
        flex-direction: column;
    }

    .social-icon {
        width: 20px; 
        margin-left: 5px;
    }

    main {
        grid-template-columns: 95%;
        grid-template-rows: repeat(10, auto);
        grid-template-areas:
            "title-container"
            "game-overview"
            "game-rules"
            "game-strategy"
            "game-history"
            "game-glossary"
            "play-now"
            "faq"
            "game-versions"
            "game-alternatives";
        gap: 20px;
        padding: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px; 
        text-align: center;
    }

    p, ul {
        font-size: 14px;
    }

    p {
        text-align: center;
    }

    .title-container {
        width: 85%;
        margin-bottom: 10px;
        height: 30px;
        padding-top: 0%;
    }

    .main-title {
        font-size: 20px;
        text-align: center;
    }

    footer {
        padding: 10px 10px;
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) { /* Планшеты */

    .social-icon {
        width: 45px;
    }

    .main {
        grid-template-columns: 65%; 
        grid-template-rows: repeat(10, auto);
        grid-template-areas:
            "title-container"
            "game-overview"
            "game-rules"
            "game-strategy"
            "game-history"
            "game-glossary"
            "play-now"
            "faq"
            "game-versions"
            "game-alternatives";
        gap: 20px; 
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .title-container {
        width: 92%;
        margin-bottom: 10px;
        height: 50px;
        padding-top: 0%;
    }

    .main-title {
        font-size: 30px;
        text-align: center;
    }

    h2 {
        font-size: 25px; 
        text-align: center;
    }

    p, ul {
        font-size: 18px;
    }

    p {
        text-align: center;
    }
}